<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC</title>
    <style>
        body{
            background-color: red;
            color: white;
        }
    </style>
</head>
<body>
    <h1>MVC - Model Views and controlers </h1>
    <form action="/formsubmit" method="post">
        NAme : <input type="text" name="name" >
        email : <input type="email" name="email">
        password : <input type="password" name="password">
        age : <input type="number" name="age">
         <input type="submit" value="Submit">
        
    </form>
</body>
</html>